USE [PRJ_Car_Booking]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 3/5/2024 7:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CarType] [nvarchar](50) NULL,
	[Capacity] [int] NULL,
	[RentalPricePerDay] [decimal](10, 2) NULL,
	[img] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractDetails]    Script Date: 3/5/2024 7:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractDetails](
	[ContractDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NULL,
	[CarID] [int] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 3/5/2024 7:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[username] [text] NULL,
	[StartDateTime] [date] NULL,
	[EndDateTime] [date] NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/5/2024 7:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](100) NOT NULL,
	[dob] [date] NULL,
	[email] [varchar](320) NULL,
	[full_name] [varchar](100) NULL,
	[gender] [int] NULL,
	[password] [varchar](100) NULL,
	[role] [int] NULL,
	[img] [nvarchar](max) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarID], [CarType], [Capacity], [RentalPricePerDay], [img]) VALUES (1, N'Sedan', 4, CAST(50.00 AS Decimal(10, 2)), N'https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/2020-Chevrolet-Corvette-Stingray/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=960')
INSERT [dbo].[Cars] ([CarID], [CarType], [Capacity], [RentalPricePerDay], [img]) VALUES (2, N'SUV', 7, CAST(80.00 AS Decimal(10, 2)), N'https://www.gmenvolve.com/content/dam/gmenvolve/na/us/english/index/cars-segment-page/01-images/2023-gm-envolve-site-cars-overview-corvette.png?imwidth=960')
INSERT [dbo].[Cars] ([CarID], [CarType], [Capacity], [RentalPricePerDay], [img]) VALUES (3, N'Van', 9, CAST(100.00 AS Decimal(10, 2)), N'https://images.drive.com.au/driveau/image/upload/c_fill,f_auto,g_auto,h_1080,q_auto:eco,w_1920/v1/cms/uploads/Wd6eveISRWarJ0Mtk5Q8')
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractDetails] ON 

INSERT [dbo].[ContractDetails] ([ContractDetailID], [ContractID], [CarID], [Status]) VALUES (1, 1, 1, N'Active')
INSERT [dbo].[ContractDetails] ([ContractDetailID], [ContractID], [CarID], [Status]) VALUES (2, 1, 2, N'Active')
INSERT [dbo].[ContractDetails] ([ContractDetailID], [ContractID], [CarID], [Status]) VALUES (3, 2, 3, N'Active')
SET IDENTITY_INSERT [dbo].[ContractDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ContractID], [username], [StartDateTime], [EndDateTime], [TotalCost], [Status]) VALUES (1, N'Aline', CAST(N'2024-02-20' AS Date), CAST(N'2024-02-25' AS Date), CAST(260.00 AS Decimal(10, 2)), N'Active')
INSERT [dbo].[Contracts] ([ContractID], [username], [StartDateTime], [EndDateTime], [TotalCost], [Status]) VALUES (2, N'Aline', CAST(N'2024-03-10' AS Date), CAST(N'2024-03-15' AS Date), CAST(400.00 AS Decimal(10, 2)), N'Active')
INSERT [dbo].[Contracts] ([ContractID], [username], [StartDateTime], [EndDateTime], [TotalCost], [Status]) VALUES (3, N'Aline', CAST(N'2024-04-05' AS Date), CAST(N'2024-04-10' AS Date), CAST(300.00 AS Decimal(10, 2)), N'Active')
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
INSERT [dbo].[Users] ([username], [dob], [email], [full_name], [gender], [password], [role], [img], [status]) VALUES (N'admin', CAST(N'2023-05-26' AS Date), N'malesuada@hotmail.net', N'Castor', 0, N'202cb962ac59075b964b07152d234b70', 0, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNL_ZnOTpXSvhf1UaK7beHey2BX42U6solRA&usqp=CAU', 1)
INSERT [dbo].[Users] ([username], [dob], [email], [full_name], [gender], [password], [role], [img], [status]) VALUES (N'Aline', CAST(N'2023-07-19' AS Date), N'phasellus.dolor@yahoo.org', N'Kadeem', 0, N'202cb962ac59075b964b07152d234b70', 1, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNL_ZnOTpXSvhf1UaK7beHey2BX42U6solRA&usqp=CAU', 1)
INSERT [dbo].[Users] ([username], [dob], [email], [full_name], [gender], [password], [role], [img], [status]) VALUES (N'Branden', CAST(N'2023-08-15' AS Date), N'consequat.purus@google.com', N'Yuli', 0, N'123', 0, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNL_ZnOTpXSvhf1UaK7beHey2BX42U6solRA&usqp=CAU', 1)
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT ((0)) FOR [TotalCost]
GO
ALTER TABLE [dbo].[ContractDetails]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[ContractDetails]  WITH CHECK ADD FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contracts] ([ContractID])
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableCars]    Script Date: 3/5/2024 7:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAvailableCars]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT c.*
    FROM Cars c
    WHERE c.CarID NOT IN (
        SELECT cd.CarID
        FROM ContractDetails cd
        INNER JOIN Contracts con ON cd.ContractID = con.ContractID
        WHERE NOT (@StartDate >= con.EndDateTime OR @EndDate <= con.StartDateTime)
    );
END;
GO
/****** Object:  Trigger [dbo].[UpdateContractTotalCost]    Script Date: 3/5/2024 8:46:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateContractTotalCost]
ON [dbo].[ContractDetails]
AFTER INSERT
AS
BEGIN
    DECLARE @ContractID INT;
    
    -- Get the ContractID of the newly inserted contract details
    SELECT @ContractID = ContractID FROM inserted;
    
    -- Update the TotalCost in the Contracts table
    UPDATE Contracts
    SET TotalCost = (
        SELECT SUM(RentalPricePerDay)
        FROM ContractDetails cd
        INNER JOIN Cars c ON cd.CarID = c.CarID
        WHERE cd.ContractID = @ContractID
    )
    WHERE ContractID = @ContractID;
END;


